@import url("https://fonts.googleapis.com/css?family=Raleway:100,700");

body {
  background: var(--color-primary);
}

.App {
  height: 100vh;
  margin: auto;
  text-align: center;
  width: 95%;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  padding: 9px 10px 9px 0px;
  display: -webkit-inline-box;
  border-right: 1px solid #eceff2;
}

.title span {
  font-weight: 700;
}

.title a {
  color: black;
  text-decoration: none;
}

.footer {
  border-top: 1px solid var(--color-primary);
  padding: 10px;
  color: var(--color-secondary);
}

.footer a {
  text-decoration: none;
  color: var(--color-secondary);
}

.menubar {
  margin: 2px 0px 10px 10px;
  display: -webkit-inline-box;
  border-bottom: 2px solid var(--color-primary);
  z-index: 2;
}

.main-navigator {
  display: inline-block;
}

.MuiToolbar-root-28.MuiToolbar-regular-30.MuiToolbar-gutters-29 {
  padding-left: 8px;
}

/*
* Grid specification
*/

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 10px;
}

.grid-item {
  /*background: aquamarine;*/
}

.item-title {
  margin: 0px 10px 0px 10px;
  grid-column: 1 / span 2;
  text-align: left;
}

.item-menu {
  grid-row: 2 / span 2;
}

.item-workspace {
  grid-row: 2 / span 18;
}

.item-info {
  grid-row: 2 / span 9;
}

.item-action {
  grid-row: 11 / span 9;
}

.item-footer {
  grid-column: 1 / span 2;
  align-self: center;
}
