:root {
    --color-primary: #eceff1;
    --color-primary-light: white;
    --color-primary-dark: #babdbe;
    --color-secondary: #b71c1c;
    --color-secondary-light: #f05545;
    --color-secondary-dark: #7f0000;
}